<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="empbean" class="com.gk.beans.Employee">
		<property name="emp_no" value="1"></property>
		<property name="emp_name" value="Pranay"></property>
		<property name="emp_salary" value="100000"></property>
		<property name="emp_address" value="Indore"></property>
	</bean>
</beans> 