<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userBean" class="com.gk.beans.User">
		<property name="uname" value="Pranay Singh" />
	</bean>

	<bean id="contextRefershedEvent"
		class="com.gk.listeners.ContextRefreshListenerImpl" />
	<bean id="contextStartedEvent"
		class="com.gk.listeners.ContextStartedListenerImpl" />
	<bean id="contextStoppedEvent"
		class="com.gk.listeners.ContextStoppedListenerImpl" />
	<bean id="contextClosedEvent"
		class="com.gk.listeners.ContextClosedListenerImpl" />
</beans>