<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="hellobean1" class="com.gk.beans.HelloBean1" init-method="init" destroy-method="destroy">
		<property name="firstName" value="Pranay" />
		<property name="lastName" value="Singh" />
	</bean>

	<bean id="hellobean2" class="com.gk.beans.HelloBean2">
		<property name="firstName" value="Pranay" />
		<property name="lastName" value="Singh" />
	</bean>
	
	<context:annotation-config />

	<bean id="hellobean3" class="com.gk.beans.HelloBean3">
		<property name="firstName" value="Pranay" />
		<property name="lastName" value="Singh" />
	</bean>
	
	<bean id="hellobean4" class="com.gk.beans.HelloBean4" init-method="initOfCustom" destroy-method="destroyOfCustom">
		<property name="firstName" value="Pranay" />
		<property name="lastName" value="Singh" />
	</bean>
	
	
</beans>